<h2>Devices available</h2>
<div class='table_container'>
  <!-- <button mat-flat-button  color='primary' (click)='Map()' class='visualize_btn'>Map</button> -->

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)='applyFilter($event)' placeholder='Ex. Citybox' #input>
  </mat-form-field>

  <table mat-table [dataSource]='dataSource' multiTemplateDataRows class='mat-elevation-z8' matSort>
    <ng-container matColumnDef='{{column}}' *ngFor='let column of columnsToDisplay'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header class='row'> {{column}} </th>
      <td mat-cell *matCellDef='let box' class='row'> {{box[column]}} </td>
    </ng-container>

    <ng-container matColumnDef='expandedDetail'>
      <td mat-cell *matCellDef='let box' [attr.colspan]='columnsToDisplay.length'>
        <div class='element-detail' [@detailExpand]="box == expandedElement ? 'expanded' : 'collapsed'">
          <div class='element-description'>
            <mat-grid-list cols='4' rowHeight='60px'>
              <mat-grid-tile colspan='1' [style.background]='green'>
                In order to view the graphs, select the graphs you wish to view and then click on the 'Visualize'
                button.
              </mat-grid-tile>
              <!-- Selection groups / box -->
              <mat-grid-tile colspan='1'>
                <mat-radio-group [(ngModel)]='option' aria-label='Select an option'>
                  <mat-radio-button class='radio' color='primary' value='group' [checked]='true'
                    (change)='radioChange($event)'>Group</mat-radio-button>
                  <mat-radio-button class='radio' color='primary' value='box' [checked]='false'
                    (change)='radioChange($event)'>Box</mat-radio-button>
                </mat-radio-group>
              </mat-grid-tile>
              <!-- Graph selection -->
              <mat-grid-tile colspan='2' [style.background]='blue'>
                <mat-form-field appearance='legacy' style='width:35%;'>
                  <mat-label>Graph available</mat-label>
                  <mat-select [formControl]='graphs_form' (selectionChange)='onChange($event)' (openedChange)=clearfilter() multiple>
                    <mat-form-field class="full-width">
                      <mat-label>search</mat-label>
                      <input class='input' [(ngModel)]="filterName" matInput type="text"
                        (keyup)="filterListCareUnit($event.target.value)">
                    </mat-form-field>
                    <mat-option *ngFor='let graph_available of graphs_available_list' value='{{graph_available}}'>
                      {{graph_available}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-flat-button [disabled]='_disabled_visualize' color='primary' (click)='Visualize()'
                  class='visualize_btn'>Visualize</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
    <tr mat-row *matRowDef='let box; columns: columnsToDisplay;' class='element-row'
      [class.expanded-row]='expandedElement === box' (click)='expandedElement = expandedElement === box ? null : box '
      (click)='get_group_info(box)'>
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class='detail-row'></tr>
  </table>
  <mat-paginator [pageSizeOptions]='[5, 25, 50, 75, 100]'></mat-paginator>
</div>

<app-graph *ngIf='_show_graph;' [information]=information_dad></app-graph>