table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  align-content: center;
}

.selection {
  margin-top: 1%;
  width: 100%;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}
.graph{
  /* background-color: aqua; */
}

.info{
  /* background-color: red; */
}

.loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: black; */
  opacity: 1;
  z-index: 99;
}

.test{
  overflow-y: scroll;
  max-height: 100px;
  background-color: pink;
}

/* ul{ 
  overflow-x:hidden;
  white-space:nowrap; 
  height: 3em;
  width: 100%;
}  */

/* li{ 
  display:inline; 
} */
.graph_list{
  list-style-type: none;
}
.button{
  margin: 1%;
}