.login-container {
  position: relative;
  max-width: 30em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .login-container {
    max-width: 80%;
  }
}