
.login-container {
  position: relative;
  max-width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}
