<!-- Vert: #a3c037 | Bleu: #39499c -->
<app-spinner></app-spinner>

<head>
</head>

<body>
  <header>
    <!-- Toolbar -->
    <mat-toolbar color='primary'>
      <mat-toolbar-row>
        <span>
          Baggage
          <mat-icon style='vertical-align: middle;'>work</mat-icon>
        </span>
        <span class='spacer'></span>
        <div>
          <a href="/en/baggage/graph">
            <button *ngIf='(site_locale == "fr")' mat-button matTooltip='Basculez en anglais'>
              <mat-icon svgIcon='gb_flag'></mat-icon>
            </button>
          </a>
          <a href="/fr/baggage/graph">
            <button *ngIf='(site_locale == "en")' mat-button matTooltip='Switch to French'>
              <mat-icon svgIcon='fr_flag'></mat-icon>
            </button>
          </a>
        </div>
        <button mat-button i18n-matTooltip='Logout matTooltip|text wich discribe the Logout button@@logout_tooltip' matTooltip='Logout' *ngIf='is_logged;' (click)='logout()'>
          <mat-icon>exit_to_app</mat-icon>
        </button>
        {{currentApplicationVersion}}
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <!-- component -->
  <router-outlet>
  </router-outlet>
</body>

<footer>
</footer>