:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
 }

p {
  margin: 0;
 }

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 700px;
  min-width: 100%;
  padding: 0;
}
  
.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #39499c;
  color: white;
  font-weight: 600;
}
.devices-list{
  margin: 2%;
}