<!-- Vert: #a3c037 | Bleu: #39499c -->
<app-spinner></app-spinner>

<head>
</head>

<body>
  <header>
    <!-- Toolbar -->
    <mat-toolbar color='primary'>
      <mat-toolbar-row>
        <span>
          Baggage
          <mat-icon style='vertical-align: middle;'>work</mat-icon>
        </span>
        <span class='spacer'></span>
        <button mat-button matTooltip='Logout' *ngIf='is_logged;' (click)='logout()'>
          <mat-icon>exit_to_app</mat-icon>
        </button>
        {{currentApplicationVersion}}
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <!-- component -->
  <router-outlet>
  </router-outlet>
</body>

<footer>
</footer>