.mat-row.hovered {
  background:#cfd7fe;
}
.mat-row.highlighted {
  background: #8094fb;
}
tr.detail-row {
  height: 0;
}
tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}
tr.element-row-dark:not(.expanded-row):hover {
  background: #565656;
}
tr.element-row:not(.expanded-row):active {
  background: #efefef;
}
.element-row td {
  border-bottom-width: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
.element-description {
  padding: 5px;
  min-width: 100%;
}
.row {
  text-align: center;
}
.mat-form-field {
  width: 80%;
}