<div>
  <h4>My informations</h4>
  <ul class='list-group'>
    <li class='list-group-item' *ngFor='let group of groups.groups'>
      <h6>Group: {{group.displayName}}</h6>
      <ng-container *ngIf='show_devices'>
        <li  class='list-group-item' *ngFor='let sites of group.sites'>
          Name: {{sites.siteName}}<br>
          Location: {{sites.datas.address}}<br>
        </li>
      </ng-container>
    </li>
  </ul>
  <!-- <button id='button' class='btn btn-primary' (click)='toogle_devices()'> Show details</button> -->

</div>


